<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftTestDevs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49153E811D7FA65600AE5449</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49153E981D7FA65600AE5449</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49153EA31D7FA65600AE5449</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
